<% content_for :title, "Editing movie" %>

<h1>Edit Movie</h1>

<div class="form-container">
  <%= render "form", movie: @movie %>

  <div class="action-buttons">
    <%= link_to "Show this movie", @movie, class: 'btn-edit' %> |
    <%= link_to "Back to movies", movies_path, class: 'btn-back' %>
  </div>
</div>
