<% content_for :title, "New movie" %>

<h1>Create a New Movie</h1>

<div class="form-container">
  <%= render "form", movie: @movie %>

  <div class="action-buttons">
    <%= link_to "Back to movies", movies_path, class: 'btn-back' %>
  </div>
</div>
